
.welcome{
    display: inline-flex;
    margin: 0 auto;
    font-size: 3rem;
}

.header {
    margin: auto;
}

.top-menu {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
}

.nav-bar-item {
    list-style: none;
}

.link {
    text-decoration: none;
    margin-left: 10px;
}

.top-menu{
    height: 50px;
}

.navigation a{
    display: inline-block;
    padding: 2px;
    color:black;
}


/* news page */
.coctail-cards {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px auto;
    -webkit-box-shadow: -3px -3px 5px 2px rgba(43, 97, 139, 0.27);
    -moz-box-shadow: -3px -3px 5px 2px rgba(43, 97, 139, 0.27);
    box-shadow: -3px -3px 5px 2px rgba(43, 97, 139, 0.27);
}

.coctail-cards img, .user-info-head img{
    max-width: 100px;
    object-fit: cover;
}

.coctail-cards span {
    font-size: small;
    font-weight: bold;
    color: lightgray;
    position: relative;
    left: 100px;
}

.coctail-cards:hover{
    background: rgba(43, 97, 139, 0.27);
    right: 0;
    bottom: calc(100% - 40px);
    transition: all 0.5s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.news-wrap #h2 {
    margin-left: 25px;
    width: 100%;
}


.content-wrap {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid black;
    position: relative;
    margin: 0 auto;
}

/* profile page */
.profile{
    display: flex;
    flex-direction: column;
}

.user-info {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.user-info p {
    display: inline-block;
    margin: 3px 0 0 10px;
}

.user-info-head{
    display: flex;
    justify-content: center;
    align-items:center;
}

.user-info-head-aside{
    display:flex;
    flex-direction:column;
}


.user-info-body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.logout-btn{
    display: block;
    height: 25px;
    margin-left: 90%;

}

/* login page */
.login-form{
    border: 1px solid black;
    margin:auto;
    padding: 10px;
    width: 250px;
}
.login-form label{
    display: block;
}

.login-form button{
    position: relative;
    transform: translate(315%,35%);
} 

